.w-90 {
  width: 90%;
}


.title {
  font-family: 'Oswald', sans-serif;
  color: #F50D7F;
  font-weight: bold;
  font-size: 5em;
  line-height: 1;
}

.subtitle {
  font-weight: 1.2;
  line-height: 1.2;
  letter-spacing: 2px;
}

.hero-image {
    border-top: solid 7px #F50D7F;
    background-image: url('../Assets/Jumbotron/jumbotron-background-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 562px;
}

.services-image {
    border-top: solid 7px #F50D7F;
    background-image: url('../Assets/Jumbotron/jumbotron-background-mobile-services.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 562px;
}

.contact-image {
    border-top: solid 7px #F50D7F;
    background-image: url('../Assets/Jumbotron/jumbotron-background-mobile-contact.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 562px;
}


.profile-picture {
    border-radius: 50%;
    border: solid 3px #161616;
    width: 130px;
    height: auto;
}

.profile-image-container {
  top: -120px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.bg-black {
  background-color: #161616;
}

.card-container {
  padding-top: 190px;
}

.carousel {
  display: none;
}

.company-logo {
  width: 100px;
}

.software-logo {
  width: 100px;
}

.education-logo {
  width: 200px;
}

.google-iq-logo {
  width: 105px;
}

.featurette-image {
  border: 3px solid #F50D7F;
}

.featurette-article-r {
  text-align: center;
}

.featurette-article-l {
  text-align: center;
}


.icons {
  width: 50px;
  height: auto;
}

.card-height-fix {
  height: 220px
}

.skill-graph {
  width: 600px;
}

.footer {
  border-top: 7px solid #F50D7F;
}


/* Read More Button */

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}

/* Desktop Media Queries */

@media only screen and (min-width: 374px) {

  .card-container {
    padding-top: 170px;
    max-width: 992px;
    margin: 0 auto;
  }
}




@media only screen and (min-width: 768px) {


  .services-intro {
    width: 75%;
  }

  .featurette-article-r {
    text-align: right;
  }

  .featurette-article-l {
    text-align: left;
  }

}


@media only screen and (min-width: 992px) {

  h5 {
    font-size: 1.8em;
    padding-bottom: 10px;
  }

  .card-container {
    padding-top: 150px;
    max-width: 992px;
    margin: 0 auto;
  }

  .hero-image {
    background-image: url('../Assets/Jumbotron/jumbotron-background-desktop.png');
  }

  .services-image {
      background-image: url('../Assets/Jumbotron/jumbotron-background-desktop-services.png');
  }

  .contact-image {
      background-image: url('../Assets/Jumbotron/jumbotron-background-desktop-contact.png');
  }

  .carousel-text {
    padding-left: 15px;
    padding-right: 15px;
  }

  .title {
  font-family: 'Oswald', sans-serif;
  color: #F50D7F;
  font-weight: bold;
  font-size: 7em;
  line-height: 1;
  }

  .carousel {
    display: block;
  }
}
